* {
    font-family: 'VT323';
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* remove the user agent stylesheet background affect to input tag */
/* link: https://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 0s 10000s;
    -webkit-transition: background-color 0s 10000s;
    -moz-transition: background-color 0s 10000s;
    -ms-transition: background-color 0s 10000s;
    -o-transition: background-color 0s 10000s;
}

button,
img {
    user-select: none;
}

/* customized scrollbar */
/* width */
::-webkit-scrollbar {
    width: 0px;
    height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(71, 74, 240, 0.5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(71, 74, 240, 0.7);
    ;
}

body {
    scroll-behavior: smooth;
}